.item{
  background-color: lightblue;
  width: 40%;
  margin: .5em auto;
  padding: 1em;
}

h3{
  font-size: 1.4em;
}

.price{
 text-align: right;
}

button{
  padding: 1em;
  font-size: 1em;
  align-items: right;
}

.itemHolder {
  background-color: lightblue;
  width: 50%;
  margin: 5em auto 0;
}
/*.App {
  text-align: center;
}

#background {
  background-image: url(https://www.wood-mode.com/sites/default/files/Zebra-Wood-lg_0.jpg);
}

.header{
  background: red;
}

.home {

}

.logo{
  font-size: 46px;
  color: whitesmoke;
  margin-top: 0px;
  text-shadow: 6px 6px black;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-align: left;
  margin-left: 45px;
}

.ingredients {
  margin: auto;
  width: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  height: 40px;
  background-color: black;
  color: white;
}

.item{
  margin: auto;
}

.checkbox {
  font-size: 50px;
  margin: auto 0;
  margin-left: 10px;
}

.ingredientlist {
  display: flex;
  flex-wrap: wrap;
}

#addItem{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 25px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
}

.itemHolder {
  width: 275px;
  height: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0;
}
.ingredientButton {
  height: 100%;
  width: 50px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: lemonchiffon;
  outline: none;
}

.recipeButton {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px black;
  height: 40px;
  width: 110px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 15px;
  background-color: slategray;
  margin-bottom: 30px;
  outline: none;
}

.image {
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

#navbar {
  display: flex;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  justify-content: space-around;
  background-color: slategray;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 35px;
  margin: 0;
}

#navbar li{
  list-style: none;
  margin: auto 0;
}

.myrecipe {

}

.recipeHeader{
  margin: 0px;
  padding: 10px;
}

.title {
  font-size: 30px;
  color: white;

}

#findResults{
  height: 40px;
  width: 150px;
  margin: 20px;
  border-radius: 10px;
  background-color: slategray;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  margin-top: 5px;
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*/
